.button1 , .button2 {
        background-color: #b8057c;
        border: 1px solid #b8057c;
        border-radius: 23px;
        color: white;
        padding: 10px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 17px;
        font-weight: 400;
        cursor: pointer;
        margin: 4px 2px;
        width: 346px;
        margin-top: 19px;
      
}